extends ../../../src/views/_layouts/base

block variables
	-
		project = true;
		title = 'Airbnb';
		slogan = 'Guestbook Feature';
		labels = ['UX/UI Design'];
		tags = ['<abbr title="User Experience">UX</abbr> Design', '<abbr title="User Interface">UI</abbr> Design', 'Product Design', '<abbr title="Application">App</abbr>', 'Sketches', 'Wireframes', 'Design System', 'Mockups', 'Prototype', 'Testing'];
		pageDescription = 'This feature allows users to share with other guests the experiences they have had not only at the residence but also at the place they are visiting, encouraging others to visit and experience the same.';
		team = ['Carolina Reis', 'Mariana Santos', 'Raul Ramos Pinto', 'Rita Grade', 'Rodrigo Julião'];
		buttons = [
			{
				social: 'behance',
				url: 'https://www.behance.net/gallery/137171571/Airbnb-Guestbook-Feature-UX-UI',
				urlLang: 'en'
			}
		];


block project

	+figure-equal-images({
		modifiers: '0',
		file: `portfolio/${title}/content`,
		name: `${title}-0`,
		title: 'Airbnb Guestbook Feature',
		format: 'jpg',
		sizesMobile: 100,
		sizesTablet: 100,
		sizesDesktop: 100,
		loading: 'lazy',
		decorative: true
	}).project__figure

	.sr-only
		p A way to share your journey
		p Save your favorite moments
		p See suggestions from all over the world

	+figure-equal-images({
		modifiers: '1',
		file: `portfolio/${title}/content`,
		name: `${title}-1`,
		title: 'Preface',
		format: 'jpg',
		sizesMobile: 100,
		sizesTablet: 100,
		sizesDesktop: 100,
		loading: 'lazy',
		decorative: true
	}).project__figure

	.sr-only
		h2 The challenge
		p We were prompted to create a feature for a pre-established service. Our goal was to design a useful and fresh feature, taking into account the core values, design system and objectives by which a company is governed.
		h2 The solution
		p We decided to create a feature for Airbnb. The feature allows users to share with other guests the experiences they have had not only at the residence but also at the place they are visiting, encouraging others to visit and experience the same.

	+figure-equal-images({
		modifiers: '2',
		file: `portfolio/${title}/content`,
		name: `${title}-2`,
		title: 'Challenge and Solution',
		format: 'jpg',
		sizesMobile: 100,
		sizesTablet: 100,
		sizesDesktop: 100,
		loading: 'lazy',
		decorative: true
	}).project__figure

	.sr-only
		h2 The review dilemma
		p While Airbnb continues their efforts to focus on the experience and community aspect of their service, the actual usage of it doesn't reflect that when looking for a place to stay at.
		p Reviews are often dry, commenting on essential aspects of housing such as cleaning or location, and don't really reflect the user's stay at that place, what they saw, heard and experienced.
		blockquote(cite='https://news.airbnb.com/what-makes-airbnb-airbnb/')
			p People are feeling increasingly disconnected in the world, and loneliness is pervading our society.&lpar;...&rpar; We are a community based on connection and belonging, and we will continue to design new ways to provide for it.
		h3 Sharing is Caring
		p We felt we could bring people together by giving them a way to share their experiences with one another — recommend a dining spot, a mountain trail, a place to have a good night out — like they would share with a friend or their own family.
		p This would not only improve the guest's experience, since they would have more to see and do, it would also create a bigger interest in visiting a certain place or city, and create a sense of community around shared experiences.

	+figure-equal-images({
		modifiers: '3',
		file: `portfolio/${title}/content`,
		name: `${title}-3`,
		title: 'The review dilemma',
		format: 'jpg',
		sizesMobile: 100,
		sizesTablet: 100,
		sizesDesktop: 100,
		loading: 'lazy',
		decorative: true
	}).project__figure

	.sr-only
		h2 Our Design Process
		h3 Understanding
		ul
			li Desk Research
			li Benchmark
			li Airbnb analysis
		h3 Exploring
		ul
			li Key insights
			li Storyboard Reviews
			li Sketches
		h3 Creating
		ul
			li Wireframes
			li Design System
			li Mockups
		h3 Testing
		ul
			li Prototype
			li Test Interviews

	+figure-equal-images({
		modifiers: '4',
		file: `portfolio/${title}/content`,
		name: `${title}-4`,
		title: 'Design Process',
		format: 'jpg',
		sizesMobile: 100,
		sizesTablet: 100,
		sizesDesktop: 100,
		loading: 'lazy',
		decorative: true
	}).project__figure

	.sr-only
		h2 Understanding
		h3 Desk Research
		h4 What is a Guestbook?
		p A book in which guests or visitors &lpar;at an event or a place&rpar; may sign their name, write comments or even draw something.
		p Guestbooks are used as an easy way to get visitors' feedback and allow other visitors to see what people are saying. The information on them can be frivolous or serious, banal or useful.

	+figure-equal-images({
		modifiers: '5',
		file: `portfolio/${title}/content`,
		name: `${title}-5`,
		title: 'Desk research',
		format: 'jpg',
		sizesMobile: 100,
		sizesTablet: 100,
		sizesDesktop: 100,
		loading: 'lazy',
		decorative: true
	}).project__figure

	.sr-only
		h3 Benchmark
			p We looked at several hosting websites review features.
			ul
				li Booking
				li Trivago
				li Home Exchange

	+figure-equal-images({
		modifiers: '6',
		file: `portfolio/${title}/content`,
		name: `${title}-6`,
		title: 'Benchmark',
		format: 'jpg',
		sizesMobile: 100,
		sizesTablet: 100,
		sizesDesktop: 100,
		loading: 'lazy',
		decorative: true
	}).project__figure

	.sr-only
		h3 Airbnb Analysis
		h4 Airbnb core values
		ul
			li
				p Our community is based on connection and belonging
			li
				p Our creativity allows us to imagine new possibilities for people
			li
				p Our responsibility is to all of our stakeholders

	+figure-equal-images({
		modifiers: '7',
		file: `portfolio/${title}/content`,
		name: `${title}-7`,
		title: 'Airbnb Analysis',
		format: 'jpg',
		sizesMobile: 100,
		sizesTablet: 100,
		sizesDesktop: 100,
		loading: 'lazy',
		decorative: true
	}).project__figure

	blockquote(cite='https://news.airbnb.com/what-makes-airbnb-airbnb/').sr-only
		p In the end, they all share a common thread — a fundamental belief that people are good and we're in this together.
		p This is what makes Airbnb, Airbnb.

	+figure-equal-images({
		modifiers: '8',
		file: `portfolio/${title}/content`,
		name: `${title}-8`,
		title: 'We are in this together',
		format: 'jpg',
		sizesMobile: 100,
		sizesTablet: 100,
		sizesDesktop: 100,
		loading: 'lazy',
		decorative: true
	}).project__figure

	.sr-only
		h3 Airbnb reviews policy
		ul
			li
				p
					strong
						| 0 - 5&nbsp;
					| star rating
			li
				p
					strong
						| 14 days&nbsp;
					| to send the review
			li
				p
					strong
						| 30 days&nbsp;
					| is the time a host can respond to a review or report it if they feel it violates airbnb policy
			li
				p
					strong
						| 1000&nbsp;
					| word limit
			li
				p
					| A review&nbsp;
					strong
						| can&nbsp;
					| be edited before it is published, but not after
			li
				p
					| the host&nbsp;
					strong
						| can't&nbsp;
					| remove a review

	+figure-equal-images({
		modifiers: '9',
		file: `portfolio/${title}/content`,
		name: `${title}-9`,
		title: 'Airbnb reviews policy',
		format: 'jpg',
		sizesMobile: 100,
		sizesTablet: 100,
		sizesDesktop: 100,
		loading: 'lazy',
		decorative: true
	}).project__figure

	.sr-only
		h3 Key Findings
		ol
			li The guestbook has a historical past linked to guest experiences
			li Competing services have nothing like the feature we are developing
			li Review systems focus more on technical characteristics
			li Review critiques can be voted as useful by other guests
			li Airbnb only results from a reciprocal relationship with their community
			li Airbnb's review system already has solid rules that could be imported into the new feature

	+figure-equal-images({
		modifiers: '10',
		file: `portfolio/${title}/content`,
		name: `${title}-10`,
		title: 'Key Findings',
		format: 'jpg',
		sizesMobile: 100,
		sizesTablet: 100,
		sizesDesktop: 100,
		loading: 'lazy',
		decorative: true
	}).project__figure

	.sr-only
		h2 Exploring
		h3 Storyboard Reviews
		p After discussing the approach we wanted to take, including the insights gathered from our desk research, we constructed a set of 3 storyboards that exemplified the use of this new feature throughout several parts of the Airbnb customer journey — planning and selecting before the trip, their stay at the desired location and the review process.

	+figure-equal-images({
		modifiers: '11',
		file: `portfolio/${title}/content`,
		name: `${title}-11`,
		title: 'Storyboard Reviews',
		format: 'jpg',
		sizesMobile: 100,
		sizesTablet: 100,
		sizesDesktop: 100,
		loading: 'lazy',
		decorative: true
	}).project__figure

	.sr-only
		h3 Before the trip
		p Laura, What do you think about taking a trip? It's been a while.
		p Great idea! Do you have a place in mind?
		p I don't know, maybe a place we haven't been to yet...
		p Hmm... Let me think. What about Coimbra?
		p Sounds Great! It's close and we can get to know our country better
		p I'm split between these two apartments, which one do you think is best Renato?
		p I don't know, the reviews of both are very good, perhaps we could check out their new guestbook feature?
		p Huh, that's right, it seems like you can post pictures and videos of the locations, maybe it will help
		p This apartment is near a typical restaurant and has a view of the city center, Check out the pictures!
		p And it has a big balcony, we could have an outdoor breakfast!
		p I think we have a winner! What do you think?
		p Yeah, absolutely! By the experiences of former guest, this apartment looks promising.

	+figure-equal-images({
		modifiers: '12',
		file: `portfolio/${title}/content`,
		name: `${title}-12`,
		alt: 'Cartoon of a couple using the app before the trip',
		title: 'Before the trip',
		format: 'jpg',
		sizesMobile: 100,
		sizesTablet: 100,
		sizesDesktop: 100,
		loading: 'lazy'
	}).project__figure

	.sr-only
		h3 During the trip
		p We've completed our checklist!
		p We still have a few hours left, do you have any idea about what to do next?
		p Hmm... I know! Let's see what's in this apartment's guestbook
		p Good idea!
		p They have several experiences here, but I think we'll enjoy going to this bar, look at this view! What do you think?
		p Let's go! And with today's weather we'll manage to record some beautiful videos
		p How far is it from the apartment? Is it near?
		p Yeah, it's like 5 minutes walk! Oh and it says here that you simply must order an Aperol Spritz!
		p Ah! I hope they can compete with the ones we drank in Rome!
		p I really liked the bar, can we thank whoever posted that recommendation?
		p Good question, I'll see.
		p You can't write but you can like the post, It'll certainly help with it's visibility.

	+figure-equal-images({
		modifiers: '13',
		file: `portfolio/${title}/content`,
		name: `${title}-13`,
		alt: 'Cartoon of a couple using the app during the trip',
		title: 'During the trip',
		format: 'jpg',
		sizesMobile: 100,
		sizesTablet: 100,
		sizesDesktop: 100,
		loading: 'lazy'
	}).project__figure

	.sr-only
		h3 After the trip
		p Now that we are back we can't forget to do the review, maybe I should do it now.
		p It's really easy on Airbnb, you'll be done in no time.
		p Okay, let's see... cleaning... quality...
		p Ah, now we can post something on the guestbook ourselves!
		p Yep, we actually took some good pictures, you want to choose some to post?
		p Yes! We even have the ones we took when we went to see the sunset, we can recommend that to others.
		p That day was pretty cool, remember the pork? I'm drolling just thinking about it
		p Better than that we the walk, you I like it better when I'm in nature
		p I was too full to enjoy the walk
		p Look, you can put stickers on it! That's fun!
		p I'm gonna use this one, do you prefer the other?
		p The trip was so good, I don't know how we'll fit everything in this post
		p Don't worry about it, I think the image says enough about our trip
		p If you say so... well, It's posted! I hope someone takes on the challenge of going on that trail!
		p I wanna go back already, there must still be so many things that we didn't get to see!
		p True, next time we may even have other recommendations to try out.

	+figure-equal-images({
		modifiers: '14',
		file: `portfolio/${title}/content`,
		name: `${title}-14`,
		alt: 'Cartoon of a couple using the app after the trip',
		title: 'After the trip',
		format: 'jpg',
		sizesMobile: 100,
		sizesTablet: 100,
		sizesDesktop: 100,
		loading: 'lazy'
	}).project__figure

	.sr-only
		h3 Key Insights
		p After reviewing our storyboards through some interviews, we obtained some insight into how the feature could work, how people imagined it, and if they found the feature useful.
		ul
			li
				p The guestbook post would be better following the review process
			li
				p Visually, they imagine the new feature with a social media/forum feel to it
			li
				p Could be an alternative to get itineraries ideas besides the more clichéd ones
			li
				p 1 post per person can be reductive
			li
				p They would like to have content associated with a place and not the residence
			li
				p The feature serves to tell more personal and not so logistical things as reviews often are
			li
				p The fact that one can "like" a given post adds credibility to it
			li
				p Location is one of the things that most influences the choice of the apartment
			li
				p They use more often desktop for searching apartments and mobile to book or during their stay
			li
				p The guestbook could serve as a tie-breaker in the apartment decision

	+figure-equal-images({
		modifiers: '15',
		file: `portfolio/${title}/content`,
		name: `${title}-15`,
		title: 'Key Insights',
		format: 'jpg',
		sizesMobile: 100,
		sizesTablet: 100,
		sizesDesktop: 100,
		loading: 'lazy',
		decorative: true
	}).project__figure

	.sr-only
		h3 Sketches
		p We sketched some concepts and ideas. It was an opportunity to explore what's possible, unrestrained. Before we moved into the formality of project constraints.

	+figure-equal-images({
		modifiers: '16',
		file: `portfolio/${title}/content`,
		name: `${title}-16`,
		alt: 'Three desktop sketches of the new feature',
		title: 'Sketches',
		format: 'jpg',
		sizesMobile: 100,
		sizesTablet: 100,
		sizesDesktop: 100,
		loading: 'lazy'
	}).project__figure

	.sr-only
		h3 How it works
		p Through our sketching and the interviews we conducted we were able to make the decisions that would solidify how the feature worked and what the rules were surrounding its use.
		h4 Post Creation
		p Each guest would be able to create 3 posts, this is to help diversify the type of content seen on the page, whereas 1 post could end up focusing all the results on one key point and unlimited posts could flood the page.
		p Comments on the post were to be as succinct as a tweet, containing around 240 characters.
		p Each post could be labeled with up to 2 tags to determine what the type of content being shared was, for example, food and entertainment.
		p The posts can only be created by someone who stayed at the location they were posting to, after their trip.
		h4 Liking and Archiving
		p Each has an area where they can see all their posts and their liked posts.
		p Liking a post helps it show up more prominently during the initial sorting of posts.
		p The user's posts page can be shared and viewed by other users if they wish to view more than just the posts of a certain location.
		h4 Searching and Browsing
		p Potential guests could see guestbook posts through the page of the location they are looking to rent.
		p The guestbook posts can be limited to guests of the place you are viewing only or you can set a distance radius from where to pull posts from.
		p Posts can be filtered through the various tags implemented by Airbnb for sorting.
		p Posts can be sorted by likes or date of posting.

	+figure-equal-images({
		modifiers: '17',
		file: `portfolio/${title}/content`,
		name: `${title}-17`,
		title: 'How it works',
		format: 'jpg',
		sizesMobile: 100,
		sizesTablet: 100,
		sizesDesktop: 100,
		loading: 'lazy',
		decorative: true
	}).project__figure

	.sr-only
		h2 Creating
		h3 Wireframes

	+figure-equal-images({
		modifiers: '18',
		file: `portfolio/${title}/content`,
		name: `${title}-18`,
		alt: 'Multiple wireframes displayed',
		title: 'Wireframes',
		format: 'jpg',
		sizesMobile: 100,
		sizesTablet: 100,
		sizesDesktop: 100,
		loading: 'lazy',
	}).project__figure

	.sr-only
		h3 Design Kit
		h4 Colors
		h5 Primary
		ul
			li Pink
			li Purple
			li Green
		h5 Secondary
		ul
			li Dark gray
			li Gray
			li White
		h4 Typography
		dl
			dt Title 1
			dd 32/48
			dt Title 2
			dd 24/36
			dt Title 3
			dd 20/28
			dt Header Bold
			dd 16/24
			dt Header Medium
			dd 16/24
			dt Header Book
			dd 16/24
			dt Body Medium
			dd 14/20
			dt Body Book
			dd 14/20
			dt Micro Medium
			dd 10/14
			dt Micro Book
			dd 10/14
		h4 Spacing
		dl
			dt tiny
			dd 8
			dt small
			dd 16
			dt base
			dd 24
			dt large
			dd 48
			dt x-large
			dd 64

	+figure-equal-images({
		modifiers: '19',
		file: `portfolio/${title}/content`,
		name: `${title}-19`,
		alt: 'Colors, Typography and Spacing',
		title: 'Design Kit',
		format: 'jpg',
		sizesMobile: 100,
		sizesTablet: 100,
		sizesDesktop: 100,
		loading: 'lazy'
	}).project__figure

	.sr-only
		h3 Mockups
		h4 Apartment page
		p The host can pin a post he wants to highlight and the rest of the posts appear by most liked. People can access the posts made by the previous guests at a specific apartment.

	+figure-equal-images({
		modifiers: '20',
		file: `portfolio/${title}/content`,
		name: `${title}-20`,
		title: 'Apartment page',
		format: 'jpg',
		sizesMobile: 100,
		sizesTablet: 100,
		sizesDesktop: 100,
		loading: 'lazy',
		decorative: true
	}).project__figure

	.sr-only
		h4 Individual Guestbook post
		p Each post is accompanied by a comment, labels and the name of the apartment. People can like the post and use the filters to see more experiences &lpar;by label, distance or of previous guest at that apartment&rpar;. It is also possible to add the post to the airbnb wishlist.

	+figure-equal-images({
		modifiers: '21',
		file: `portfolio/${title}/content`,
		name: `${title}-21`,
		title: 'Individual Guestbook post',
		format: 'jpg',
		sizesMobile: 100,
		sizesTablet: 100,
		sizesDesktop: 100,
		loading: 'lazy',
		decorative: true
	}).project__figure

	.sr-only
		h4 Post on Guestbook
		p After the trip is over, the guest can do the guestbook post after the review or skip and do it later. This will be reminded by notification.
		h4 Guestbook profile
		p Each guest can access their profile and see the posts liked and their own guestbook posts.

	+figure-equal-images({
		modifiers: '22',
		file: `portfolio/${title}/content`,
		name: `${title}-22`,
		title: 'Post and Profile',
		format: 'jpg',
		sizesMobile: 100,
		sizesTablet: 100,
		sizesDesktop: 100,
		loading: 'lazy',
		decorative: true
	}).project__figure

	.sr-only
		h2 Testing
		h3 Prototype and Test Interviews
		p We conducted informal interviews with the same people we interviewed at the beginning of the project. We let them tinker with the prototype and at the end we asked them a series of questions about what they liked, what they didn't like, if there was anything they didn't understand, and what we could improve.

	+figure-equal-images({
		modifiers: '23',
		file: `portfolio/${title}/content`,
		name: `${title}-23`,
		title: 'Prototype and Test Interviews',
		format: 'jpg',
		sizesMobile: 100,
		sizesTablet: 100,
		sizesDesktop: 100,
		loading: 'lazy',
		decorative: true
	}).project__figure

	.sr-only
		h3 What we learned
		h4 This might be a problem...
		table
			tr
				th This might be a problem...
				th What can we do?
				th Well done...
			tr
				td The 3-dot button in each individual post may not be obvious in its purpose
				td Do more tests to understand if this is a real design problem
				td Idea well executed and integrated into the existing service
			tr
				td Editing tools for the selected photos could be in view
				td Do A/B testing to find out which design performs better
				td Flows are easy to use since they have similarities with instagram and other social media
			tr
				td Publishing photos inside the apartment may have legal and privacy implications for the host
				td Interview hosts to learn if this could be a problem and how we could overcome it
				td Good use of the existing visual identity and the icon associated with the guestbook

	+figure-equal-images({
		modifiers: '24',
		file: `portfolio/${title}/content`,
		name: `${title}-24`,
		title: 'What we learned',
		format: 'jpg',
		sizesMobile: 100,
		sizesTablet: 100,
		sizesDesktop: 100,
		loading: 'lazy',
		decorative: true
	}).project__figure

	.sr-only
		h3 What's next?
		ul
			li Implement the feedback given on the tests
			li Adapting the feature for desktop and tablet

	+figure-equal-images({
		modifiers: '25',
		file: `portfolio/${title}/content`,
		name: `${title}-25`,
		title: 'What is next',
		format: 'jpg',
		sizesMobile: 100,
		sizesTablet: 100,
		sizesDesktop: 100,
		loading: 'lazy',
		decorative: true
	}).project__figure

	p.sr-only Thank you!

	+figure-equal-images({
		modifiers: '26',
		file: `portfolio/${title}/content`,
		name: `${title}-26`,
		title: 'Thank you',
		format: 'jpg',
		sizesMobile: 100,
		sizesTablet: 100,
		sizesDesktop: 100,
		loading: 'lazy',
		decorative: true
	}).project__figure
