extends ../../../src/views/_layouts/base

block variables
	-
		project = true;
		title = 'Dope';
		slogan = 'A safer trip advisor';
		labels = ['UX/UI Design'];
		tags = ['<abbr title="User Experience">UX</abbr> Design', '<abbr title="User Interface">UI</abbr> Design', 'Product Design', '<abbr title="Application">App</abbr>', 'Sketches', 'Wireframes', 'Design System', 'Mockups', 'Prototype', 'Testing'];
		pageDescription = 'A service to promote a safer and more informed use of drugs through testing, monitoring consumption sessions and providing information on drug types and strains, as well as emergency procedures.';
		team = ['Ana Marta Sousa', 'Gonçalo Páscoa', 'Inês Bernardino', 'Inês Esteves', 'Raul Ramos Pinto'];
		buttons = [
			{
				social: 'behance',
				url: 'https://www.behance.net/gallery/154418651/Dope-MOBILE-APP',
				urlLang: 'en'
			}
		];
		images = [
			{
				alt: '',
				title: '',
				figcaption: 'For an informed drug consumption and testing.'
			},
			{
				alt: '',
				title: '',
				figcaption: 'Recreational drug use has been around for thousands of years.'
			},
			{
				alt: '',
				title: '',
				figcaption: 'When scientists began to study addictive behavior in the 1930s, people addicted to drugs were thought to be morally flawed and lacking in willpower. Groundbreaking discoveries about the brain have revolutionized our understanding of drug use, enabling us to respond effectively. Nora D. Volkow, M.D. - Director National Institute on Drug Abuse'
			},
			{
				alt: '',
				title: '',
				figcaption: 'Lifetime use in the European Union - Cannabis: 91,2 Million (27,4%). Cocaine: 18 Million (5,4%). MDMA: 13,7 Million (4,1%). Amphetamines 12,4 Million (3,7%). European Drug Report; Trends and Developments; 2019.'
			},
			{
				alt: '',
				title: '',
				figcaption: 'Recreational drug use is not going to disappear anytime soon.'
			},
			{
				alt: '',
				title: '',
				figcaption: 'Social implications: Bad academic performance. Low employment stability. Inclination to try other drugs. Mental health disorders: Mood and anxiety disorders. Cognitive deficit. Paranoid psychosis. Heart conditions: Arrhythmias. Heart attacks. Brain damage: Strokes. Intracerebral hemorrhage.'
			},
			{
				alt: '',
				title: '',
				figcaption: 'Problem Space - 1. Lack of awareness (Prior knowledge): Not knowing what you&apos;re buying or consuming. Misinformation on substance effects, use and mixing. 2. Oblivious use (Personal consumption): Ignoring the role personal and biological factors play. Poor tracking and lack of awareness of consumption. 3. Poor assistance (Emergency procedures): Not knowing what to do in an emergency situation. Failing to get help - fear of asking or not knowing who to ask.'
			},
			{
				alt: '',
				title: '',
				figcaption: 'Main insights ( interviews and surveys) - 1. Information: Understanding the safest way to consume a specific drug and what to in an emergency situation. 2. Safety: Knowing if the composition of what they use is safe. 3. Privacy: Having to share personal data in a drug-related app.'
			},
			{
				alt: '',
				title: '',
				figcaption: 'Who faces these problems?'
			},
			{
				alt: '',
				title: '',
				figcaption: 'User Segments - Regular Consumer: Users who consume drugs regularly and are looking for ways to do it more safely; Looking to: test their drugs to feel safer; know what to do in emergency cases; find safer places to buy from. Uses the app more regularly to have a safer and more informed consumption. John (Regular consumer): I don&apos;t know if the drugs I buy are safe. Is it safe to have this kind of information on my phone? How will I know I&apos;ll get help if I need it?'
			},
			{
				alt: '',
				title: '',
				figcaption: 'Information Seeker: Users who have friends or family who consume drugs and are looking to be more informed; Looking to: have more knowledge about drugs; know hows to help their closed ones if needed, in case of emergency. Cynthia (Information seeker): I don&apos;t know what to do when my friends aren&apos;t feeling well at a party. Does this product have the information I need? Are the information and emergency contacts updated?'
			},
			{
				alt: '',
				title: '',
				figcaption: 'Companies: Collective users of this product would be companies who benefit from quick drug testing and providing a safe platform to drug consumers: music festivals; night clubs; ... Mark (Company owner): I can&apos;t control nor provide assistance to my customers, as they consume privately. Having people publicly doing drugs may give this club a bad reputation.'
			},
			{
				alt: '',
				title: '',
				figcaption: 'How might we make drug use safer and emergency assistance more effective?'
			},
			{
				alt: '',
				title: '',
				figcaption: 'USPs - Test and track what you consume and buy. Monitor consumption in real time. Directly access emergency contacts. Learn more about drugs and their effects.'
			},
			{
				alt: '',
				title: '',
				figcaption: 'Personal Data Policy - (No sharing of personal data): Optional linking to social accounts. No obligation to use a real name. Data is only used by the monitoring function'
			},
			{
				alt: '',
				title: '',
				figcaption: 'Logo (Symbol & Variations). Typography (Symbol & Variations). Color Palette (Primary). Color Palette (Extended).'
			},
			{
				alt: '',
				title: '',
				figcaption: 'App overview - Onboarding and Homepage: Discover our main features. Create an account easily and safely. Quickly share your medical history for a more tailored and effective support. Access some of our main features like tracking and testing.'
			},
			{
				alt: '',
				title: '',
				figcaption: 'Tracking - Tell how you feel to ensure the best possible experience. Get notifications about habits to keep up, biometric data and pivotal moments during consumption. Get a quick glance of time past to avoid going for the next dose too quickly.'
			},
			{
				alt: '',
				title: '',
				figcaption: 'Testing - Order drug testing kits as you need them or through a subscription service. Get immediate and reliable results regarding the safety of substances. Input data from the tests onto the app and track your consumption over time.'
			},
			{
				alt: '',
				title: '',
				figcaption: 'Learning - A library of different types of drugs as well as their form, effects and other relevant details'
			},
			{
				alt: '',
				title: '',
				figcaption: 'Emergency - Get quick access to a fast symptom quiz to determine if you or a friend need medical help. Quickly contact the local emergency number or  friends and family who can assist. Get real-time guidance on how to proceed in an emergency situation.'
			},
			{
				alt: '',
				title: '',
				figcaption: 'Thank you!'
			}
		]

block project

	each image, index in images

		+figure-equal-images({
			modifiers: `${index}`,
			file: `portfolio/${title}/content`,
			name: `${title}-${index}`,
			alt: `${image.alt}`,
			title: `${image.title}`,
			format: 'jpg',
			sizesMobile: 100,
			sizesTablet: 100,
			sizesDesktop: 100,
			loading: 'lazy',
			figcaption: `${image.figcaption}`
		}).project__figure
