extends ../../../src/views/_layouts/base

block variables
	-
		project = true;
		title = 'Sango';
		slogan = 'Handmade creations';
		labels = ['UX/UI Design', 'Front-End'];
		tags = ['<abbr title="User Interface">UI</abbr> Design', 'Website', 'Branding', 'Logo Design', 'E-commerce', 'Front-End Development', '<abbr title="Hypertext Markup Language">HTML</abbr>', '<abbr title="Cascading Style Sheets">CSS</abbr>', 'JavaScript'];
		pageDescription = 'This project was a total rebranding, from the logo to the website and online shop. The main aim was to develop the front-end of the whole Sango&apos;s website.';
		team = ['Ana Lagoa', 'Raul Ramos Pinto', 'Talissa Fregona'];
		buttons = [
			{
				social: 'behance',
				url: 'https://www.behance.net/gallery/135546783/Sango-UI-FRONT-END-DEVELOPMENT',
				urlLang: 'en'
			}
		];
		images = [
			{
				alt: '',
				title: '',
				figcaption: ''
			},
			{
				alt: '',
				title: '',
				figcaption: ''
			},
			{
				alt: '',
				title: '',
				figcaption: ''
			},
			{
				alt: '',
				title: '',
				figcaption: ''
			},
			{
				alt: '',
				title: '',
				figcaption: ''
			},
			{
				alt: '',
				title: '',
				figcaption: ''
			},
			{
				alt: '',
				title: '',
				figcaption: ''
			},
			{
				alt: '',
				title: '',
				figcaption: ''
			}
		]

block project

	each image, index in images

		+figure-equal-images({
			modifiers: `${index}`,
			file: `portfolio/${title}/content`,
			name: `${title}-${index}`,
			alt: `${image.alt}`,
			title: `${image.title}`,
			format: 'jpg',
			sizesMobile: 100,
			sizesTablet: 100,
			sizesDesktop: 100,
			loading: 'lazy',
			figcaption: `${image.figcaption}`
		}).project__figure
