extends ../../../src/views/_layouts/base

block variables
	-
		project = true;
		title = 'Sango';
		slogan = 'Handmade creations';
		labels = ['UX/UI Design', 'Front-End'];
		tags = ['<abbr title="User Interface">UI</abbr> Design', 'Website', 'Branding', 'Logo Design', 'E-commerce', 'Front-End Development', '<abbr title="Hypertext Markup Language">HTML</abbr>', '<abbr title="Cascading Style Sheets">CSS</abbr>', 'JavaScript'];
		pageDescription = 'This project was a total rebranding, from the logo to the website and online shop. The main aim was to develop the front-end of the whole Sango&apos;s website.';
		buttons = [
			{
				social: 'behance',
				url: 'https://www.behance.net/gallery/135546783/Sango-UI-FRONT-END-DEVELOPMENT',
				urlLang: 'en'
			}
		];

block project

	+figure({
		modifiers: '',
		file: `portfolio/${title}/content`,
		name: `${title}-01`,
		alt: '',
		title: '',
		format: 'jpg',
		sizesMobile: 100,
		sizesDesktop: 100,
		widthMobileX1: 944,
		widthMobileX2: 1888,
		widthDesktopX1: 1392,
		widthDesktopX2: 2784,
		loading: 'lazy',
		figcaption: ''
	}).project__figure

	+figure({
		modifiers: '',
		file: `portfolio/${title}/content`,
		name: `${title}-02`,
		alt: '',
		title: '',
		format: 'jpg',
		sizesMobile: 100,
		sizesDesktop: 100,
		widthMobileX1: 944,
		widthMobileX2: 1888,
		widthDesktopX1: 1392,
		widthDesktopX2: 2784,
		loading: 'lazy',
		figcaption: ''
	}).project__figure

	+figure({
		modifiers: '',
		file: `portfolio/${title}/content`,
		name: `${title}-03`,
		alt: '',
		title: '',
		format: 'jpg',
		sizesMobile: 100,
		sizesDesktop: 100,
		widthMobileX1: 944,
		widthMobileX2: 1888,
		widthDesktopX1: 1392,
		widthDesktopX2: 2784,
		loading: 'lazy',
		figcaption: ''
	}).project__figure

	+figure({
		modifiers: '',
		file: `portfolio/${title}/content`,
		name: `${title}-04`,
		alt: '',
		title: '',
		format: 'jpg',
		sizesMobile: 100,
		sizesDesktop: 100,
		widthMobileX1: 944,
		widthMobileX2: 1888,
		widthDesktopX1: 1392,
		widthDesktopX2: 2784,
		loading: 'lazy',
		figcaption: ''
	}).project__figure

	+figure({
		modifiers: '',
		file: `portfolio/${title}/content`,
		name: `${title}-05`,
		alt: '',
		title: '',
		format: 'jpg',
		sizesMobile: 100,
		sizesDesktop: 100,
		widthMobileX1: 944,
		widthMobileX2: 1888,
		widthDesktopX1: 1392,
		widthDesktopX2: 2784,
		loading: 'lazy',
		figcaption: ''
	}).project__figure

	+figure({
		modifiers: '',
		file: `portfolio/${title}/content`,
		name: `${title}-06`,
		alt: '',
		title: '',
		format: 'jpg',
		sizesMobile: 100,
		sizesDesktop: 100,
		widthMobileX1: 944,
		widthMobileX2: 1888,
		widthDesktopX1: 1392,
		widthDesktopX2: 2784,
		loading: 'lazy',
		figcaption: ''
	}).project__figure

	+figure({
		modifiers: '',
		file: `portfolio/${title}/content`,
		name: `${title}-07`,
		alt: '',
		title: '',
		format: 'jpg',
		sizesMobile: 100,
		sizesDesktop: 100,
		widthMobileX1: 944,
		widthMobileX2: 1888,
		widthDesktopX1: 1392,
		widthDesktopX2: 2784,
		loading: 'lazy',
		figcaption: ''
	}).project__figure

	+figure({
		modifiers: '',
		file: `portfolio/${title}/content`,
		name: `${title}-08`,
		alt: '',
		title: '',
		format: 'jpg',
		sizesMobile: 100,
		sizesDesktop: 100,
		widthMobileX1: 944,
		widthMobileX2: 1888,
		widthDesktopX1: 1392,
		widthDesktopX2: 2784,
		loading: 'lazy',
		figcaption: ''
	}).project__figure

	+figure({
		modifiers: '',
		file: `portfolio/${title}/content`,
		name: `${title}-09`,
		alt: '',
		title: '',
		format: 'jpg',
		sizesMobile: 100,
		sizesDesktop: 100,
		widthMobileX1: 944,
		widthMobileX2: 1888,
		widthDesktopX1: 1392,
		widthDesktopX2: 2784,
		loading: 'lazy',
		figcaption: ''
	}).project__figure
