mixin button(options)

	if typeof options === 'string'
		-
			options = {
				text: options,
			}

	#{options.url ? 'a' : options.element || 'button'}.button(
		href=options.url
		hreflang=options.urlLang
		title=options.title
		class=setModifiers(options.modifiers || 'primary', 'button--')
	)&attributes(attributes)
		if options.iconId
			+symbol({
				file: options.iconFile || null,
				id: options.iconId,
				width: options.iconWidth || 24,
				height: options.iconHeight || 24
			}).button__icon

		if options.text
			span.button__text
				| !{options.text}
		else if options.textMenu
			| !{options.textMenu}

		if block
			block
