include ../_abstracts/index
include ~@wycreative/symbol


-
	const startWorkingDate = new Date(2020, 6); // July is represented by month index 6 (0-indexed)
	const currentWorkingDate = new Date();
	let yearsOfExperience = currentWorkingDate.getFullYear() - startWorkingDate.getFullYear();
	if (currentWorkingDate.getMonth() < startWorkingDate.getMonth()) yearsOfExperience--;

	const mainTitle = 'Raul Ramos Pinto'
	let title
	const mainDescription = `${mainTitle} is a UX/UI Designer and Front-End Developer with ${yearsOfExperience} years of experience and a very strong concern for web accessibility.`
	let pageDescription
	const mainKeywords = 'UX, UI, Design, User Experience, User Interface, Designer, Digital, Frontend, Developer, Development, Web, Accessibility, A11y, HTML, CSS, JavaScript, Figma'
	let pageKeywords



block variables



doctype html
html(lang="en" dir="ltr" prefix="og: https://ogp.me/ns#")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover")
		base(href="/")
		title= (title ? `${title} | ` : '') + `${mainTitle}` + ' - UX/UI & Front-End Developer'
		meta(name="description" content=(pageDescription ? `${pageDescription}` : `${mainDescription}`))
		meta(name="keywords" content=(pageKeywords ? `${pageKeywords}` : `${mainKeywords}`))
		meta(name="author" content=`${mainTitle}`)

		//- Open Graph
		meta(property="og:site_name" content=`${mainTitle}`)
		meta(property="og:url" content="https://www.raul-ramos-pinto.com")
		meta(property="og:type" content="website")
		meta(property="og:title" content=`${title}`)
		meta(property="og:description" content=(pageDescription ? `${pageDescription}` : `${mainDescription}`))
		meta(property="og:image" content="/atlas/examples/assets/images/open-graph/og-image.png")
		meta(property="og:image:alt" content=`${mainTitle} Website thumbnail`)
		//- link(rel="/atlas/examples/assets/images/open-graph/og-image.png" href="/atlas/examples/assets/images/open-graph/og-image.png" type="image/png")
		meta(property="og:image:width" content="1200")
		meta(property="og:image:height" content="630")
		meta(property="og:image:type" content="image/png")

		link(rel="canonical" href="http://raul-ramos-pinto.com/")
		link(rel="alternate" hreflang="x-default" href="http://raul-ramos-pinto.com/" )
		link(rel="alternate" hreflang="en-us" href="http://raul-ramos-pinto.com/")
		link(rel="prerender" href="http://raul-ramos-pinto.com/")

		//- Schema
		script(type="application/ld+json").
			{
				"@context": "http://schema.org",
				"@type": "Person",
				"givenName": "Raul",
				"familyName": "Ramos Pinto",
				"nationality": "Portugal",
				"url": "http://raul-ramos-pinto.com/",
				"logo": "http://raul-ramos-pinto.com/assets/symbols/logos/logo-raul-ramos-pinto.svg",
				"sameAs": [
					"https://www.linkedin.com/in/raul-ramos-pinto/",
					"https://github.com/raulbmrp",
					"https://www.behance.net/raulramospinto"
				],
				"image": "http://raul-ramos-pinto.com/assets/images/profile/raul-ramos-pinto-mobile@1x.jpg",
				"jobTitle": "UX/UI Designer \u0026 Front-End Web Developer",
				"email": "raulbmrp@gmail.com",
				"description": "Raul Ramos Pinto is a UX/UI Designer and Front-End Developer with a very strong concern for web accessibility.",
				"knowsAbout": "User Experience Design, User Interface Design, Front-end Development, Web Accessibility, Digital Design, Figma, HTML, CSS, JavaScript",
				"knowsLanguage": [
					{
						"@type": "Language",
						"name": "Portuguese"
					},
					{
						"@type": "Language",
						"name": "English"
					},
					{
						"@type": "Language",
						"name": "Spanish"
					}
				],
				"alumniOf": [
					{
						"@type": "EducationalOrganization",
						"name": "ESAD Matosinhos",
						"url": "https://esad.pt/"
					},
					{
						"@type": "EducationalOrganization",
						"name": "LSD Porto",
						"url": "https://www.lsd.pt/"
					},
					{
						"@type": "EducationalOrganization",
						"name": "FBAUL",
						"url": "https://www.belasartes.ulisboa.pt/en/"
					}
				],
				"hasOfferCatalog": {
					"@type": "OfferCatalog",
					"name": "Services Catalog",
					"itemListElement": [
						{
							"@type": "Offer",
							"name": "UI/UX Design Services",
							"description": "User interface and user experience design services."
						},
						{
							"@type": "Offer",
							"name": "Front-End Development Services",
							"description": "Front-End Web Development services."
						}
					]
				}
			}

		//- Styles
		block styles
			link(href="/assets/styles/main.css" rel="stylesheet")

		//- Scripts
		block scripts-head

	body
		a.skip-link(href="#main" title="Skip to main content")
			span.skip-link__text Skip to main content
		//- #cursor.cursor

		block header
			if homePage
				+header({
					menu: ['about', 'resumé', 'portfolio', 'contact'],
					cv: true,
					socials: true
				})

		main.main#main
			if project
				include project

			block main

		block footer
			+footer

		block scripts
			script(src="/assets/scripts/main.js" type="module")
