include ../_abstracts/index
include ~@wycreative/symbol


-
	const startWorkingDate = new Date(2020, 6); // July is represented by month index 6 (0-indexed)
	const currentWorkingDate = new Date();
	let yearsOfExperience = currentWorkingDate.getFullYear() - startWorkingDate.getFullYear();
	if (currentWorkingDate.getMonth() < startWorkingDate.getMonth()) yearsOfExperience--;

	const mainTitle = 'Raul Ramos Pinto'
	let title
	const mainDescription = `${mainTitle} is a UX/UI Designer and Front-End Developer with ${yearsOfExperience} years of experience and a very strong concern for web accessibility.`
	let pageDescription
	const mainKeywords = 'UX, UI, Design, User Experience, User Interface, Designer, Digital, Frontend, Developer, Development, Web, Accessibility, A11y, HTML, CSS, JavaScript, Figma'
	let pageKeywords



block variables



doctype html
html(lang='en' dir='ltr' prefix='og: https://ogp.me/ns#')
	head
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width, initial-scale=1, viewport-fit=cover')

		//- Favicons
		link(rel='apple-touch-icon' sizes='57x57' href='/assets/images/favicons/apple-icon-57x57.png')
		link(rel='apple-touch-icon' sizes='60x60' href='/assets/images/favicons/apple-icon-60x60.png')
		link(rel='apple-touch-icon' sizes='72x72' href='/assets/images/favicons/apple-icon-72x72.png')
		link(rel='apple-touch-icon' sizes='76x76' href='/assets/images/favicons/apple-icon-76x76.png')
		link(rel='apple-touch-icon' sizes='114x114' href='/assets/images/favicons/apple-icon-114x114.png')
		link(rel='apple-touch-icon' sizes='120x120' href='/assets/images/favicons/apple-icon-120x120.png')
		link(rel='apple-touch-icon' sizes='144x144' href='/assets/images/favicons/apple-icon-144x144.png')
		link(rel='apple-touch-icon' sizes='152x152' href='/assets/images/favicons/apple-icon-152x152.png')
		link(rel='apple-touch-icon' sizes='180x180' href='/assets/images/favicons/apple-icon-180x180.png')
		link(rel='icon' type='image/png' sizes='192x192'  href='/assets/images/favicons/android-icon-192x192.png')
		link(rel='icon' type='image/png' sizes='32x32' href='/assets/images/favicons/favicon-32x32.png')
		link(rel='icon' type='image/png' sizes='96x96' href='/assets/images/favicons/favicon-96x96.png')
		link(rel='icon' type='image/png' sizes='16x16' href='/assets/images/favicons/favicon-16x16.png')
		link(rel='manifest' href='/assets/images/favicons/manifest.json')
		meta(name='msapplication-TileColor' content='#ffffff')
		meta(name='msapplication-TileImage' content='/assets/images/favicons/ms-icon-144x144.png')
		meta(name='theme-color' content='#ffffff')

		title= (title ? `${title} | ` : '') + `${mainTitle}` + ' - UX/UI & Front-End Developer'
		meta(name='description' content=(pageDescription ? `${pageDescription}` : `${mainDescription}`))
		meta(name='keywords' content=(pageKeywords ? `${pageKeywords}` : `${mainKeywords}`))
		meta(name='author' content=`${mainTitle}`)

		//- Open Graph
		meta(property='og:site_name' content=`${mainTitle}`)
		meta(property='og:url' content='https://www.raulramospinto.com')
		meta(property='og:type' content='website')
		meta(property='og:title' content=`${mainTitle}`)
		meta(property='og:description' content=(pageDescription ? `${pageDescription}` : `${mainDescription}`))
		meta(property='og:image' content=`/assets/images/open-graph/og-image${project ? '-' + title : ''}.png`)
		meta(property='og:image:alt' content=`${mainTitle} Website thumbnail`)
		meta(property='og:image:width' content='1200')
		meta(property='og:image:height' content='630')
		meta(property='og:image:type' content='image/png')
		//- link(rel='image_src' href='/assets/images/open-graph/og-image.png' type='image/png')

		//- Twitter
		meta(name='twitter:card' content='summary_large_image')
		//- meta(name='twitter:site' content='')
		//- meta(name='twitter:creator' content='')
		meta(name='twitter:title' content=`${mainTitle}`)
		meta(name='twitter:description' content=(pageDescription ? `${pageDescription}` : `${mainDescription}`))
		meta(name='twitter:image' content='/assets/images/open-graph/og-image.png')

		meta(name='robots' content='index, follow')
		link(rel='sitemap' type='application/xml' href='/sitemap.xml')
		link(rel='canonical' href='http://raulramospinto.com/')
		link(rel='alternate' hreflang='x-default' href='http://raulramospinto.com/' )
		link(rel='alternate' hreflang='en-us' href='http://raulramospinto.com/')
		link(rel='prerender' href='http://raulramospinto.com/')

		//- Schema
		script(type='application/ld+json').
			{
				"@context": "http://schema.org",
				"@type": "Person",
				"givenName": "Raul",
				"familyName": "Ramos Pinto",
				"nationality": "Portugal",
				"url": "http://raulramospinto.com/",
				"logo": "http://raul-ramos-pinto.com/assets/symbols/logos/logo-raul-ramos-pinto.svg",
				"sameAs": [
					"https://www.linkedin.com/in/raul-ramos-pinto/",
					"https://github.com/raulbmrp",
					"https://www.behance.net/raulramospinto"
				],
				"image": "http://raul-ramos-pinto.com/assets/images/profile/raul-ramos-pinto-1440.jpg",
				"jobTitle": "UX/UI Designer \u0026 Front-End Web Developer",
				"email": "raulbmrp@gmail.com",
				"description": "Raul Ramos Pinto is a UX/UI Designer and Front-End Developer with a very strong concern for web accessibility.",
				"knowsAbout": "User Experience Design, User Interface Design, Front-end Development, Web Accessibility, Digital Design, Figma, HTML, CSS, JavaScript",
				"knowsLanguage": [
					{
						"@type": "Language",
						"name": "Portuguese"
					},
					{
						"@type": "Language",
						"name": "English"
					},
					{
						"@type": "Language",
						"name": "Spanish"
					}
				],
				"alumniOf": [
					{
						"@type": "EducationalOrganization",
						"name": "ESAD Matosinhos",
						"url": "https://esad.pt/"
					},
					{
						"@type": "EducationalOrganization",
						"name": "LSD Porto",
						"url": "https://www.lsd.pt/"
					},
					{
						"@type": "EducationalOrganization",
						"name": "FBAUL",
						"url": "https://www.belasartes.ulisboa.pt/en/"
					}
				],
				"hasOfferCatalog": {
					"@type": "OfferCatalog",
					"name": "Services Catalog",
					"itemListElement": [
						{
							"@type": "Offer",
							"name": "UX/UI Design Services",
							"description": "User interface and user experience design services."
						},
						{
							"@type": "Offer",
							"name": "Front-End Development Services",
							"description": "Front-End Web Development services."
						}
					]
				}
			}

		//- Styles
		block styles
			style.
				@font-face {
					font-family: 'Text';
					src: url('/assets/fonts/text/text-bold.woff2') format('woff2');
					font-weight: 700;
					font-style: normal;
					unicode-range: U+0000-00FF;
					font-display: swap;
				}

				@font-face {
					font-family: 'Text';
					src: url('/assets/fonts/text/text-semibold.woff2') format('woff2');
					font-weight: 600;
					font-style: normal;
					unicode-range: U+0000-00FF;
					font-display: swap;
				}

				@font-face {
					font-family: 'Text';
					src: url('/assets/fonts/text/text-regular.woff2') format('woff2');
					font-weight: 400;
					font-style: normal;
					unicode-range: U+0000-00FF;
					font-display: swap;
				}

				@font-face {
					font-family: 'Text';
					src: url('/assets/fonts/text/text-thin.woff2') format('woff2');
					font-weight: 200;
					font-style: normal;
					unicode-range: U+0000-00FF;
					font-display: swap;
				}

				@font-face {
					font-family: 'Text';
					src: url('/assets/fonts/text/text-regular-italic.woff2') format('woff2');
					font-weight: 400;
					font-style: italic;
					unicode-range: U+0000-00FF;
					font-display: swap;
				}

				@font-face {
					font-family: 'Textu';
					src: url('/assets/fonts/textu/textu-medium.woff2') format('woff2');
					font-weight: 500;
					font-style: normal;
					unicode-range: U+0000-00FF;
					font-display: swap;
				}

				@font-face {
					font-family: 'Textu';
					src: url('/assets/fonts/textu/textu-light.woff2') format('woff2');
					font-weight: 300;
					font-style: normal;
					unicode-range: U+0000-00FF;
					font-display: swap;
				}

			link(href='/assets/styles/main.css' rel='stylesheet')

		//- Scripts
		block scripts-head

	body(class=`${homepage ? 'homepage-page' : project ? 'project-page' : error ? 'error-page' : ''}`)
		a.skip-link(href='#main' target='self')
			span.skip-link__text Skip to main content

		#cursor.cursor(aria-hidden='true')

		if project && labels[0] === 'UX/UI Design' && labels.length === 1
			.blur-circle.blur-circle--design(aria-hidden='true')
		else if project && labels[0] === 'Front-End' && labels.length === 1
			.blur-circle.blur-circle--code(aria-hidden='true')
		else if error
			.blur-circle.blur-circle--error(aria-hidden='true')
		else
			.blur-circles
				.blur-circle.blur-circle--design(aria-hidden='true')
				.blur-circle.blur-circle--code(aria-hidden='true')

		block header
			if homepage
				+header({
					menu: ['about', 'resumé', 'portfolio', 'contact'],
					cv: true,
					socials: true
				})

		main.main#main
			if project
				include project

			block main

		block footer
			if !error
				+footer

		block scripts
			script(src='/assets/scripts/main.js' type='module')
