- const normalizedText = removeAccentsCaps(`${title}`);

section.project(class=`project--${normalizedText}`)

	-
		function removeAccentsCaps(str) {
			const accentsMap = {
				'A': 'a', 'B': 'b', 'C': 'c', 'D': 'd', 'E': 'e', 'F': 'f', 'G': 'g', 'H': 'h', 'I': 'i', 'J': 'j', 'K': 'k', 'L': 'l', 'M': 'm', 'N': 'n', 'O': 'o', 'P': 'p', 'Q': 'q', 'R': 'r', 'S': 's', 'T': 't', 'U': 'u', 'V': 'v', 'W': 'w', 'X': 'x', 'Y': 'y', 'Z': 'z', 'Á': 'a', 'À': 'a', 'À': 'a', 'À': 'a', 'Ã': 'a', 'Â': 'a', 'É': 'e', 'È': 'e', 'Ê': 'e', 'Í': 'i', 'Ì': 'i', 'Ó': 'o', 'Ò': 'o', 'Õ': 'o', 'Ô': 'o', 'Ú': 'u', 'Ù': 'u', 'á': 'a', 'à': 'a', 'ã': 'a', 'â': 'a', 'é': 'e', 'è': 'e', 'ê': 'e', 'í': 'i', 'ì': 'i', 'ó': 'o', 'ò': 'o', 'õ': 'o', 'ô': 'o', 'ú': 'u', 'ù': 'u', 'ç': 'c', 'Ç': 'c',
			}
			return str.replace(/[ABCDEFGHIJKLMNOPQRSTUVWXYZÁÀÃÂÉÈÊÍÌÓÒÕÔÚÙáàãâéèêíìóòõôúùçÇ]/g, (accentedChar) => accentsMap[accentedChar]);
		};

	.project__layout
		.project__cover

			.project__top-container
				+button({
					url: '../homepage.html/#portfolio',
					target: '_self',
					urlLang: 'en',
					modifiers: 'tertiary',
					iconFile: '/assets/images/other.svg',
					iconId: 'arrow',
					text: 'Back <span class="sr-only">to the Homepage</span>'
				}).button__back

			.project__bottom-container
				.project__heading
					+heading({
						htmlTag: 'h1',
						text: `${title}${slogan ? '<br><span class="heading--2">' + slogan + '</span>' : ''}`,
						textModifiers: '1'
					})

				.project__labels
					each label in labels
						span.project__label
							| !{label}

				ul.project__tags
					each tag in tags.slice(0, 9)
						li.project__tag
							p
								| !{tag}

		.project__intro
			.project__description
				p
					| !{pageDescription}

			if buttons
				.project__buttons
					each button in buttons
						+button({
							url: `${button.url}`,
							target: '_blank',
							urlLang: `${button.urlLang}`,
							modifiers: 'primary',
							iconFile: '/assets/images/socials.svg',
							iconId: `${button.social}`,
							text: `Open <span class="sr-only">${title}</span> project on <span style="text-transform: capitalize;">${button.social}</span>`
						})

		.project__content
			block project

		if team
			.project__team
				p
					strong
						| The team:

				ul.project__member-list
					each member in team
						li.project__member-list-item
							p
								| !{member}
