mixin cards-grid(options)

	section.module.cards-grid(class=setModifiers(options.modifiers, 'cards-grid--'))&attributes(attributes)
		.cards-grid__layout
			each card in options.cards
				a.card(
					href=`/${card.title}`
					title=`${card.soon ? card.title + ' project is not currently available' : 'Open ' + card.title + ' project'}`
					target='_self'
					class=`${card.soon ? 'soon disabled' : ''}`
				)
					.card__layout

						if options.hasImage
							.card__figure
								+figure({
									modifiers: 'card',
									file: `portfolio/${card.title}/thumbnail`,
									name: `${card.title}-cover`,
									alt: `${card.figureAlt}`,
									title: `${card.title} ${card.slogan ? ' - ' + card.slogan : ''}`,
									format: 'jpg',
									sizesMobile: 100,
									sizesDesktop: 25,
									widthMobileX1: 320,
									widthMobileX2: 475,
									widthDesktopX1: 768,
									widthDesktopX2: 1200,
									loading: 'lazy',
									figcaption: `${card.figureFigcaption ? card.figureFigcaption : ''}`
								})
						.card__content
							if card.title
								+heading({
									htmlTag: `${options.headingTag}`,
									text: `${card.title} ${card.slogan ? '<span class="sr-only"> - ' + card.slogan + '</span>' : ''}`,
									textModifiers: `${options.headingTextModifiers}`
								}).card__heading

							if card.labels
								.card__labels
									each label in card.labels
										span.card__label(class=`card__label--${label.labelModifiers}`)
											| !{label.text}

							if card.description
								.card__description
									p
										| !{card.description}
