mixin header(options)

	header.header&attributes(attributes)
		.header__layout.header__layout--top
			a.header__logo(href="/homepage" title='Back to the homepage' target='_self')
				+symbol({
					file: '/assets/images/logos.svg',
					id: 'logo-raul-ramos-pinto',
					width: 190,
					height: 17
				}).header__logo-image

			button.header__burger(
				aria-label='Open menu'
				aria-expanded='false'
				aria-haspopup='true'
			)

		.header__layout.header__layout--menu

			nav.header__menu(aria-label='main menu')
				ul.header__menu-list
					each item, index in options.menu
						li.header__menu-item(style=`--index:${index};`)
							+button({
								url: `#${item}`,
								target: '_self',
								textMenu: item,
								modifiers: 'menu',
								title: `Go to ${item}`
							})(
								data-index=index
								class= `${index == 0 ? 'header__menu-button--current' : ''}`
							).header__menu-button
					.header__menu-shape
						.header__menu-shape-bg
			if options.cv
				.header__cv-button
					+button({
						url: 'https://drive.google.com/file/d/1Uc-wgqqPp4Uw2_E73tsM8BS1mNxl-8Gs/view?usp=sharing',
						target: '_blank',
						text: 'Open CV <span class="sr-only">on a new tab</span>',
						modifiers: 'menu',
						title: "Open Raul's CV on a new tab"
					}).cta

			if options.socials
				.header__social-list
					+social-list
