mixin header(options)

	header.header&attributes(attributes)
		.header__layout.header__layout--top
			a.header__logo(href="/homepage" title='Go to the homepage' target='_self')
				+symbol({
					file: '/assets/images/logos.svg',
					id: 'logo-raul-ramos-pinto',
					width: 190,
					height: 17
				}).header__logo-image

			button.header__burger(
				aria-label='Open menu'
				aria-haspopup='true'
			)

		.header__layout.header__layout--menu

			nav.header__menu(aria-label='Main menu')
				ul.header__menu-list(role='menu')
					each item, index in options.menu
						- const itemWithoutAccents = removeAccents(item);
						li.header__menu-item(
							role='menuitem'
							style=`--index:${index};`
						)
							+button({
								url: `#${itemWithoutAccents}`,
								target: '_self',
								textMenu: item,
								modifiers: 'menu'
							})(
								data-index=index
								class=`${index == 0 ? 'header__menu-button--current' : ''}`
							).header__menu-button
					-
						function removeAccents(str) {
							const accentsMap = {
								'á': 'a',
								'à': 'a',
								'ã': 'a',
								'â': 'a',
								'é': 'e',
								'è': 'e',
								'ê': 'e',
								'í': 'i',
								'ì': 'i',
								'ó': 'o',
								'ò': 'o',
								'õ': 'o',
								'ô': 'o',
								'ú': 'u',
								'ù': 'u',
							}
							return str.replace(/[áàãâéèêíìóòõôúù]/g, (accentedChar) => accentsMap[accentedChar]);
						};
				.header__menu-shape(aria-hidden='true')
					.header__menu-shape-bg(aria-hidden='true')
			if options.cv
				.header__cv-button
					+button({
						url: 'https://drive.google.com/file/d/1Uc-wgqqPp4Uw2_E73tsM8BS1mNxl-8Gs/view?usp=sharing',
						target: '_blank',
						text: 'Open <span class="sr-only">Raul&apos;s</span> CV <span class="sr-only">on a new tab</span>',
						modifiers: 'menu'
					}).cta

			if options.socials
				.header__social-list
					+social-list
