mixin project(options)

	section.module.project(class=setModifiers(options.modifiers, 'project--'))&attributes(attributes)
		.project__layout

			.project__headings
				each heading in project.headings
					+heading({
						htmlTag: `${heading.htmlTag}`,
						text: `${heading.text}`,
						textModifiers: `${heading.textModifiers}`
					})

			ul.project__tags
				each tag in project.tags
					li
						p | !{tag}

			if block
				block
