mixin tabs(options)

	block variables

	section.module.tabs(class=setModifiers(options.modifiers, 'tabs--'))&attributes(attributes)
		.tabs__layout
			.tabs__buttons-container
				menu.tabs__buttons-list#tabs__buttons-list(
					aria-label='Resumé tabs'
				)
					each item, index in options.items
						li
							+button({
								url: `#${item.url}`,
								target: '_self',
								text: `${item.name}`,
								modifiers: 'secondary',
								iconFile: '/assets/images/resume.svg',
								iconId: `${item.url}`
							})(
								id=`tab--${index}`
								aria-describedby='tabs__buttons-description'
							).tabs__button
					p#tabs__buttons-description.sr-only Press tab to move to the tabpanel.

			.tabs__panels#tabs__panels
				each item, index in options.items
					if item.name == 'Professional Experience'
						article.tabs__panel(
							class=`tabs__panel--${item.url}`
							id=`${item.url}`
							aria-labelledby=`tab--${index}`
						)
							h3.sr-only
								| !{item.name}
							each job in item.jobs
								.tabs__panel-content
									h4.heading.heading--4.tabs__panel-heading
										| !{job.role}
									.tabs__panel-subheading
										h5.heading.heading--5
											+link({
												url: `${job.url}`,
												urlLang: `${job.urlLang}`,
												text: `${job.companyAbbr ? job.companyAbbr : job.company}`,
												target: '_blank',
												modifiers: 'title'
											})
										span.heading--5
											span &nbsp;|
											time(datetime=`${job.startDateTime}`)
												| !{job.startDate}
											span &nbsp;-
											time(datetime=`${job.endDateTime == 'Present' ? new Date().toISOString().slice(0, 10) : job.endDateTime}`)
												| !{job.endDate}
									.tabs__panel-description
										p
											| !{job.description}

					if item.name == 'Education'
						article.tabs__panel(
							class=`tabs__panel--${item.url}`
							id=`${item.url}`
							aria-labelledby=`tab--${index}`
						)
							h3.sr-only
								| !{item.name}
							each course in item.courses
								.tabs__panel-content
									h4.heading.heading--4.tabs__panel-heading
										| !{course.course}
									.tabs__panel-subheading
										h5.heading.heading--5
											+link({
												url: `${course.url}`,
												urlLang: `${course.urlLang}`,
												text: `${course.schoolAbbr ? course.schoolAbbr : course.school}`,
												target: '_blank',
												modifiers: 'title'
											})
										span.heading--5
											span &nbsp;|
											time(datetime=`${course.startDateTime}`)
												| !{course.startDate}
											span &nbsp;-
											time(datetime=`${course.endDateTime == 'Present' ? new Date().toISOString().slice(0, 10) : course.endDateTime}`)
												| !{course.endDate}
									.tabs__panel-description
										p
											| !{course.description}

					if item.name == 'Skills'
						article.tabs__panel(
							class=`tabs__panel--${item.url}`
							id=`${item.url}`
							aria-labelledby=`tab--${index}`
						)
							h3.sr-only
								| !{item.name}
							each category in item.categories
								.tabs__panel-content
									h4.heading.heading--4.tabs__panel-heading
										| !{category.name}
									ul.tabs__panel-list(aria-label=`${category.name} skills list`)
										each skill in category.skills
											li.tabs__panel-list-item
												h5.heading.heading--5
													| !{skill}

					if item.name == 'Certifications'
						article.tabs__panel(
							class=`tabs__panel--${item.url}`
							id=`${item.url}`
							aria-labelledby=`tab--${index}`
						)
							h3.sr-only
								| !{item.name}
							each certificate in item.certificates
								.tabs__panel-content
									h4.heading.heading--4.tabs__panel-heading
										| !{certificate.name}
									.tabs__panel-subheading
										h5.heading.heading--5
											+link({
												url: `${certificate.documentUrl ? certificate.documentUrl : certificate.url}`,
												urlLang: `${certificate.urlLang}`,
												text: `${certificate.company}`,
												target: '_blank',
												modifiers: 'title'
											})
										span.heading--5
											span &nbsp;|
											time(datetime=`${certificate.date}`)
												| !{certificate.date}

					if item.name == "Brands I've worked with"
						article.tabs__panel(
							class=`tabs__panel--${item.url}`
							id=`${item.url}`
							aria-labelledby=`tab--${index}`
						)
							h3.sr-only
								| !{item.name}
							each brand in item.brands
								.tabs__panel-content
									if brand.figure
										+figure-equal-images({
											modifiers: '',
											file: `resume/brands/`,
											name: `${brand.name}-logo`,
											alt: `${brand.figureAlt}`,
											title: `${brand.name}`,
											format: 'png',
											sizesMobile: 100,
											sizesTablet: 100,
											sizesDesktop: 100,
											loading: 'lazy',
											figcaption: `${brand.figureFigcaption ? brand.figureFigcaption : ''}`
										}).tabs__panel-figure
									else
										+symbol({
											file: '/assets/images/brands.svg',
											id: brand.iconId,
											width: brand.iconWidth || 160,
											height: brand.iconHeight || 75
										}).tabs__panel-brand-logo

									.tabs__panel-separator

									h4.heading.heading--5.tabs__panel-heading
										+link({
											url: `${brand.url}`,
											urlLang: `${brand.urlLang}`,
											text: `${brand.nameAbbr ? brand.nameAbbr : brand.nameLang ? brand.nameLang : brand.name}`,
											target: '_blank',
											modifiers: 'title'
										})

									if brand.description
										p.tabs__panel-description
											| !{brand.description}

					if item.name == 'Languages'
						article.tabs__panel(
							class=`tabs__panel--${item.url}`
							id=`${item.url}`
							aria-labelledby=`tab--${index}`
						)
							h3.sr-only
								| !{item.name}
							each idiom in item.idioms
								.tabs__panel-content
									h4.heading.heading--4.tabs__panel-heading
										| !{idiom.idiom}
									.tabs__panel-description
										p !{idiom.level}

					if item.name == 'Volunteering'
						article.tabs__panel(
							class=`tabs__panel--${item.url}`
							id=`${item.url}`
							aria-labelledby=`tab--${index}`
						)
							h3.sr-only
								| !{item.name}
							each program in item.programs
								.tabs__panel-content
									h4.heading.heading--4.tabs__panel-heading
										| !{program.role}
									.tabs__panel-subheading
										h5.heading.heading--5
											+link({
												url: `${program.url}`,
												urlLang: `${program.urlLang}`,
												text: `${program.companyAbbr ? program.companyAbbr : program.companyLang ? program.companyLang : program.company}`,
												target: '_blank',
												modifiers: 'title'
											})
										span.heading--5
											span &nbsp;|
											time(datetime=`${program.startDateTime}`)
												| !{program.startDate}
											span &nbsp;-
											time(datetime=`${program.endDateTime == 'Present' ? new Date().toISOString().slice(0, 10) : program.endDateTime}`)
												| !{program.endDate}
									.tabs__panel-description
										p
											| !{program.description}

					if item.name == 'Sports'
						article.tabs__panel(
							class=`tabs__panel--${item.url}`
							id=`${item.url}`
							aria-labelledby=`tab--${index}`
						)
							h3.sr-only
								| !{item.name}
							each achievement in item.achievements
								.tabs__panel-content
									h4.heading.heading--4.tabs__panel-heading
										| !{achievement.role}
									.tabs__panel-subheading
										h5.heading.heading--5
											+link({
												url: `${achievement.url}`,
												urlLang: `${achievement.urlLang}`,
												text: `${achievement.teamAbbr ? achievement.teamAbbr : achievement.team}`,
												target: '_blank',
												modifiers: 'title'
											})
										span.heading--5
											span &nbsp;|
											time(datetime=`${achievement.date}`)
												| !{achievement.date}
									.tabs__panel-description
										p
											| !{achievement.description}
